/************************************Tag Selector*******************/
body {
  background-color: seashell;
}

h1 {
  color: #000D6B

}

h2 {
  color: #000D6B
}

h3 {
  color: #000D6B
}
h1{font-family: Times New Roman (serif);}
h2{font-family: Lucida Console;}

hr{
  border-style: none;
  border-top-style: dotted;

  border-width: 10px;
  border-color: grey;
  width: 5%;
}
/****************************************Class Selctor**********************************/
#title{
  font-size: 50px;
  margin-left: 300px;
  font-style: oblique;
}
.name-title{
  font-size: 40px;
  margin-left: 100px;
  font-style: italic;
}
.p1{
  font-size: 20px;
  margin-left: 100px;
  font-style:italic;
}
#profile{
  margin-left: 20px;
}
